body
{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Manrope', sans-serif;
    color: #222A2A;
    background-color: #F2F2F2;
}

.types {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
.type_1 {
    display: inline-block;
    padding-left: 23px;
    padding-top: 139px;
    flex: 1 16%;
    border: none;
    outline: none;
    background-color: #D7E4E3;
    color: #222A2A;
    cursor: pointer;
    text-decoration: none;
}
.type_2 {
    display: inline-block;
    padding-left: 23px;
    padding-top: 139px;
    flex: 1 16%;
    border: none;
    outline: none;
    background-color: #859595;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.type_3 {
    display: inline-block;
    padding-left: 23px;
    padding-top: 139px;
    flex: 1 16%;
    border: none;
    outline: none;
    background-color: #636363;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.type_4 {
    display: inline-block;
    padding-left: 23px;
    padding-top: 139px;
    flex: 1 16%;
    border: none;
    outline: none;
    background-color: #F5FF80;
    color: #222A2A;
    cursor: pointer;
    text-decoration: none;
}
.type-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.type-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.types-header-sect {
    text-align: center;
}

.header-menu-link {
    text-decoration: none;
    color: #0F3C49;
}
.header-menu-item {
    list-style-type: none;
}
.header-menu {
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
}
.logo {
    width: 35px;
}
.menu-logo {
    margin-left: -13%;
}
.header {
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
}

.theory {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.theory-p, .disc-text {
    font-size: large;
    line-height: 2;
}

.disc-content {
    padding-left: 5%;
    padding-right: 5%;
}
.formula1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}
.formula2a, .formula3a {
    display: flex;
    flex-wrap: wrap;
}
.formula4{
    vertical-align: middle;
}
.formula5a{
    vertical-align: middle;
}
.formula7 {
    vertical-align: middle;
}

.chastn {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maket {
    width: auto;
    margin-top: 30px;
    line-height: 2;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-size: large;
    padding-left: 15px;
    padding-right: 20px;
    border: 1px solid black;
}
.formula2b {
    border: none;
}
.circ-img {
    display: flex;
    justify-content: space-around;
}
.nomo1 {
    float: right;
}
.nomo2 {
    float: left;
}
.geom-p {
    text-align: center;
}
.table_h4 {
    margin-bottom: 5px;
}
.table_ans_n {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-left: 40px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: 600;
    font-size: 94px;
}