body
{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Manrope', sans-serif;
    color: #222A2A;
    background-color: #F2F2F2;
}

.types {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

.left_top{
    border-radius: 20px 0 0 0;
} 
.right_top{
    border-radius: 0 20px 0 0;
}
.left_down{
    border-radius: 0 0 0 20px;
}   
.right_down{
    border-radius: 0 0 20px 0;
}

.left {
    border-radius: 20px 0 0 20px;
}
.right {
    border-radius: 0 20px 20px 0;
}
.type {
    width: 276px;
    padding-left: 23px;
    flex: 1 16%;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-position: calc(100% - 18px) 18px;
}
.type-prac {
    width: 276px;
    height: 360px;
    padding-left: 23px;
    flex: 1 16%;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-position: calc(100% - 18px) 18px;
}
.type_1 {
    background-color: #D7E4E3;
    color: #222A2A;
    background-image: url(../public/Arrow_black.svg);
    background-repeat: no-repeat;
}
.type_2 {
    background-color: #859595;
    color: #FFFFFF;
    background-image: url(../public/Arrow_white.svg);
    background-repeat: no-repeat;
}
.type_3 {
    background-color: #636363;
    color: #FFFFFF;
    background-image: url(../public/Arrow_white.svg);
    background-repeat: no-repeat;
}
.type_4 {
    background-color: #F5FF80;
    color: #222A2A;
    background-image: url(../public/Arrow_black.svg);
    background-repeat: no-repeat;
}
.type_5 {
    background-color: #222B2A;
    color: #F2F2F2;
    background-image: url(../public/Arrow_white.svg);
    background-repeat: no-repeat;
}
.type-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.type-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.type-prac-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.type-text-div{
    height: 54px;
    width: 219px;
    margin-top: 45px;
    margin-bottom: 48px;
}
.type-name-div{
    margin-top: 139px;
    height: 72px;
    width: 230px;
}
.type-prac-name-div{
    margin-top: 191px;
    width: 200px;
}
.type-main-text-div{
    height: 34px;
    width: 288px;
    margin-top: 30px;
    margin-bottom: 27px;
}
.type-main-name-div{
    margin-top: 347px;
    height: 55px;
    width: 200px;
}
.type-main {
    width: 253px;
    padding-left: 23px;
    display: inline;
    flex: 1 16%;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-position: calc(100% - 18px) 18px;
}

.type-main-name {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.small-btn {
    background-color: #222B2A;
    color: #F2F2F2;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    border: none;
    outline: none;
}
.test_next {
    background-color: #222B2A;
    color: #F2F2F2;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.small-btn-text {
    margin: 12px 26px 12px 26px;
}

.content_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
}
.main-flex-1 {
    text-align: left;
    max-width: 620px;
    padding-right: 120px;
    background-repeat: no-repeat;
    background-image: url(../public/main_bac.svg);
    background-position: 100% 100%;
    padding-bottom: 20px;
}
.main-flex-2 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    max-width: 682px;
    padding-bottom: 20px;
}
.main_bac_1 {
    background-repeat: no-repeat;
    background-image: url(../public/main_type_1.svg);
    background-position: 0 0;
}
.main_bac_2 {
    background-repeat: no-repeat;
    background-image: url(../public/main_type_2.svg);
    background-position: 25px 0%;    
}
.main_bac_3 {
    background-repeat: no-repeat;
    background-image: url(../public/main_type_3.svg);
    background-position: 0 0%;    
}
.main_bac_4 {
    background-repeat: no-repeat;
    background-image: url(../public/main_type_4.svg);
    background-position: 35px 24px;    
}

.types-header {
    margin-bottom: 41px;
}

.menu-text {
    font-weight: 400;
    font-size: 20px;
}

.main-text {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}

.types-text {
    margin-bottom: 41px;
}

.types-header-sect {
    text-align: center;
}

.header-menu-link {
    text-decoration: none;
    color: #0F3C49;
}
.header-menu-item {
    list-style-type: none;
    display: flex;
}
.header-menu {
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
}
.logo {
    width: 35px;
}
.menu-logo {
    margin-left: -13%;
}
.header {
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
}

.big-formula {
    margin-top: 55px;
    font-weight: 500;
    font-size: 48px;
    background: #D7E4E3;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 19px;
    width: 290px;
}

.theory-name {
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 10px;
}
.blue-text {
    color: #46948E;
}

.theory-important {
    border: 2px solid #222A2A;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 24px;
    margin-left: -40px;
    padding-right: 0;
}
.theory-important-div {
    display: flex;
    max-width: 1064px;
    padding-right: 0;
}
.theory-important-img {
    z-index: 2;
}

.theory-p, .disc-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

.disc-content {
    padding-left: 5%;
    padding-right: 5%;
}
.formula1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}
.formula2a, .formula3a {
    display: flex;
    flex-wrap: wrap;
}
.formula4{
    vertical-align: middle;
}
.formula5a{
    vertical-align: middle;
}
.formula7 {
    vertical-align: middle;
}

.chastn {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maket {
    width: auto;
    margin-top: 30px;
    line-height: 2;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-size: large;
    padding-left: 15px;
    padding-right: 20px;
    border: 1px solid black;
}
.formula2b {
    border: none;
}
.circ-img {
    display: flex;
    justify-content: space-around;
}
.nomo1 {
    float: right;
}
.nomo2 {
    float: left;
}
.geom-p {
    text-align: center;
}
.table_h4 {
    margin-bottom: 5px;
}
.table_ans_n {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-left: 40px;
}
.help-name {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}
.help-name-div{
    margin-top: 114px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: 600;
    font-size: 94px;
}
.test {
    background-color: #859595;
    width: 500px;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
.quizz {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content_main_test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.question_section {
    flex: 0 0 50%;
}
.question_count {
    margin-bottom: 20px;
}
.question_count_span {
    font-size: 28px;
}
.question_text {
    margin-bottom: 15px;
}
.answer_input {
    background-color: #859595;
    border: 1px solid #636363;
    color: #222A2A;
    outline: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}